* {
    -webkit-tap-highlight-color: transparent
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-size: 15px;
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    color: #333;
    background-color: #dfdfdf;
    background-image: linear-gradient(to bottom, #dddbd1, #d2dbdc);
}

pre {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
    white-space: pre-wrap;
    word-wrap: break-word;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *+height:1%;
}

@-webkit-keyframes twinkling {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: #FFF;
}

.container {
    position: relative;
}

.header {
    text-align: center;
    font-size: 18px;
    background: #ff9966;
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: #FFF;
    position: relative;
}

    .header a {
        display: block;
        position: absolute;
        top: 0;
    }

        .header a i {
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-size: 25px;
        }

        .header a.users {
            right: 0;
        }

        .header a.back {
            left: 0;
        }

.chat-pannel {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #e5ddd5;
    padding-bottom: 110px;
    position: relative;
}

.pannel-bg {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    opacity: 0.06;
    position: absolute;
    top: 0;
    left: 0;
}

.message-container {
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}

.send-box {
    height: 60px;
    width: 100%;
    background: #f5f1ee;
    line-height: 60px;
    position: absolute;
    z-index: 1000;
    overflow: hidden;
}

.add-file {
    position: absolute;
    color: #aaa;
    font-size: 30px;
}

    .add-file i {
        width: 50px;
        height: 60px;
        text-align: center;
        line-height: 60px;
    }

.input-box {
    padding: 10px 80px 0 50px;
}

.input-txt {
    border: 0;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    font-size: 15px;
    color: #444;
    outline: none;
    resize: none;
    overflow: hidden;
}

.send-btn {
    position: absolute;
    top: 12px;
    right: 10px;
    border: 0;
    outline: none;
    background: #ff9966;
    color: #FFF;
    width: 60px;
    height: 35px;
    border-radius: 6px;
}

.message-row {
    padding-top: 15px;
}

    .message-row:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: ".";
        clear: both;
        height: 0;
    }

* html .message-row {
    zoom: 1;
}

*:first-child + html .message-row {
    zoom: 1;
}

.comment {
    position: relative;
    background: #FFF;
    border-radius: 5px;
    max-width: 85%;
    box-shadow: 0px 1px 1px #ccc;
    min-height: 30px;
    cursor: pointer;
}

    .comment:after {
        content: '';
        position: absolute;
        top: 10px;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        background-color: #FFF;
    }

    .comment.fr {
        float: right;
        margin-right: 15px;
        background: #dcf8c6;
    }

        .comment.fr:after {
            right: -5px;
            background: #dcf8c6;
        }

    .comment.fl {
        margin-left: 20px;
        float: left;
    }

        .comment.fl:after {
            left: -5px;
        }

    .comment .text {
        padding: 8px 8px 2px 8px;
    }

        .comment .text .image {
            max-width: 250px;
            max-height: 250px;
            overflow: hidden;
        }

        .comment .text img {
            width: 100%;
            display: block;
            border: 0;
            min-height: 100%;
        }

        .comment .text p {
            padding: 0;
            margin: 0;
            font-size: 12px;
            padding-bottom: 3px;
            color: #029D00;
            font-weight: 700;
            overflow: hidden;
            height: 16px;
        }

            .comment .text p span {
                font-weight: 100;
                color: #555;
            }

        .comment .text span.time {
            display: block;
            font-size: 12px;
            color: #999;
            text-align: right;
        }

#chat-box {
    padding-bottom: 20px;
}

.loading, .user-list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    display: none;
}

.load-con {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -40px;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    color: #FFF;
    font-size: 30px;
    padding: 25px 35px;
}

.user-list .list-pannel {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -300px;
    background: #FFF;
    border-left: 1px solid #dfdfdf;
    ;
}

.list-head {
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 18px;
    background: #eee;
    border-bottom: 1px solid #dfdfdf;
}

.history-user, .history-user li {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .history-user li {
        display: block;
        box-sizing: border-box;
        padding: 10px 5px 10px 5px;
        border-bottom: 1px solid #dfdfdf;
        height: 60px;
        cursor: pointer;
        position: relative;
    }

        .history-user li.active {
            background: #e9ebeb !important;
        }

        .history-user li i {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #dfdfdf;
            float: left;
            margin-right: 10px;
            text-align: center;
            line-height: 40px;
            font-size: 25px;
            color: #f3f3f3;
        }

        .history-user li div {
            height: 40px;
            overflow: hidden;
            color: #999;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

            .history-user li div p {
                padding: 0;
                margin: 0;
                color: #666;
                width: 210px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 700;
                font-size: 14px;
            }

                .history-user li div p .nick {
                    padding-left: 5px;
                    color: #666;
                }

        .history-user li a.fa {
            color: #ccc;
            position: absolute;
            right: 10px;
            top: 10px;
            transform: rotate(45deg);
            width: 20px;
            height: 20px;
            text-align: center;
        }

        .history-user li a.fa-remove {
            transform: none;
        }

#top-list li {
    background: #f3f9f9;
}

em.tips {
    position: absolute;
    top: 12px;
    left: 5px;
    background: #ff0000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: none;
}

#img-viewer {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: none;
}

#inner, #bigimg {
    position: absolute;
}

.user-scroll {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 100px;
    overflow: hidden;
}

@media (min-width: 720px) {
    .container {
        box-sizing: border-box;
        padding-right: 300px;
        border-left: 1px solid #bbb;
        border-right: 1px solid #bbb;
    }

    .user-list {
        display: block;
        width: 300px;
        left: auto;
        right: 0;
    }

        .user-list .list-pannel {
            right: 0;
        }

    .users {
        display: none !important;
    }

    .chat-pannel {
        padding-bottom: 250px;
    }

    .send-box {
        height: 250px;
    }

    .input-txt {
        height: 180px;
    }
}
