@{
    ViewData["Title"] = "添加账号";
}
<div class="content">
	<div id="target">
    </div>
    <script id="ractiveTemplate" type="text/reactive">
		<div style="color:blue;padding:0 0 10px 0;">{{message}}</div>
        <table class="listTable colTable">
            <tr>
                <td class="title">账号：</td>
                <td><input type="text" name="account" value="{{account}}" /></td>
            </tr>
            <tr>
                <td class="title">昵称：</td>
                <td><input type="text" name="nickName" value="{{nickName}}" /></td>
            </tr>
            <tr>
                <td class="title">密码：</td>
                <td><input type="password" name="password" value="{{password}}" /></td>
            </tr>
            <tr>
                <td class="title" style="width:200px">微信手续费(%)：</td>
                <td><input type="number" name="wechatRatio" value="{{wechatRatio}}" /></td>
            </tr>
            <tr>
                <td class="title" style="width:200px">支付宝手续费(%)：</td>
                <td><input type="number" name="aliRatio" value="{{aliRatio}}" /></td>
            </tr>
            <tr>
                <td class="title" style="width:200px">银行卡手续费(%)：</td>
                <td><input type="number" name="bankRatio" value="{{bankRatio}}" /></td>
            </tr>
            <tr>
                <td class="title" style="width:200px">开启支付通道：</td>
                <td>
                    <div class="row">
                        {{#each channel}}
                            {{#if enabled}}
                                <div class="col-6"><input type="checkbox" name="OpenChannel" data-value="{{id}}">{{name}}</div>
                            {{else}}
                                <input type="hidden" name="OpenChannel" data-value="{{id}}">
                            {{/if}}
                        {{/each}}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title">验证码：</td>
                <td>
                    <input type="text" name="captcha" value="{{captcha}}" style="width:190px" autocomplete="off" />
                    <img src="/Home/CaptchaImage" id="inputCaptchaImg" on-click="refreshCaptcha" style="width:100px; vertical-align:middle; height:33px;" />
                </td>
            </tr>
        </table>
		<div style="text-align:center; padding-top:15px;">
			<input type="button" value="确定" on-click="saveUser">
		</div>
	</script>
</div>
@section Scripts{
<script type="text/javascript">$(document).ready(initAddAgent);</script>
}