@{
    ViewData["Title"] = "添加账号";
}
<div class="content">
	<div id="target">
    </div>
    <script id="ractiveTemplate" type="text/reactive">
		<div style="color:blue;padding:0 0 10px 0;">{{message}}</div>
        <table class="listTable colTable">
            <tr>
                <td class="title" style="width:200px">类型：</td>
                <td>
                    <select name="type" value="{{type}}">
                        <option value="-1">其他</option>
                        <option value="1">快速交易奖励</option>
                        <option value="2">交易过期惩罚</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="title">点数(小于零表示扣分)：</td>
                <td><input type="number" name="point" value="{{point}}" style="width:190px" /></td>
            </tr>
            <tr>
                <td class="title">备注：</td>
                <td><input type="text" name="note" value="{{note}}"/></td>
            </tr>
            <tr>
                <td class="title">验证码：</td>
                <td>
                    <input type="text" name="captcha" value="{{captcha}}" style="width:190px" autocomplete="off" />
                    <img src="/Home/CaptchaImage" id="inputCaptchaImg" on-click="refreshCaptcha" style="width:100px; vertical-align:middle; height:33px;" />
                </td>
            </tr>
        </table>
		<div style="text-align:center; padding-top:15px;">
			<input type="button" value="确定" on-click="submit">
		</div>
	</script>
</div>
@section Scripts{
<script type="text/javascript">$(document).ready(initAddEvaluation);</script>
}