@{
    ViewData["Title"] = "收款通道设置";
}
<partial name="_ConsoleHeader" />

<div id="target2"></div>
<div id="target"></div>
<script id="template2" type="text/ractive">
    <div class="card mt-2">
        <div class="card-header">
            <h5>通道类型设置</h5>
        </div>
        <div class="card-body">
            <div class="text-primary pb-2">{{message}}</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>通道编号</th>
                        <th>通道名称</th>
                        <th>通道利率(千分点)</th>
                        <th>每日收款上限</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each providers}}
                    <tr>
                        <td>{{channelProvider}}</td>
                        <td>{{#if channelProvider==1}}微信{{elseif channelProvider==2}}支付宝{{else}}银行卡{{/if}}</td>
                        <td>{{ratio}}‰</td>
                        <td>{{defaultDaliyLimit}}</td>
                        <td>
                            <button type="button" class="btn btn-secondary" on-click="updateProvider">修改</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="providerErrorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">{{errorTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>{{errorMsg}}</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="providerSettingModal" tabindex="-1" role="dialog" aria-labelledby="providerSettingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">通道设置</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="settingName">通道名称</label>
                            <input type="text" style="width:100%" value="{{#if channelProvider==1}}微信{{elseif channelProvider==2}}支付宝{{else}}银行卡{{/if}}" class="form-control" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <label for="channelRatio">通道利率(千分点)</label>
                            <input type="number" id="channelRatio" style="width:100%" value="{{ratio}}" class="form-control" placeholder="设置值" />
                        </div>
                        <div class="form-group">
                            <label for="channelDaliyLimit">每日收款上限</label>
                            <input type="number" id="DaliyLimit" style="width:100%" value="{{defaultDaliyLimit}}" class="form-control" placeholder="设置值" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" on-click="doOperation">确定</button>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="template" type="text/ractive">
    <div class="card mt-2">
        <div class="card-header">
            <h5>收款通道设置</h5>
        </div>
        <div class="card-body">
            <div class="text-primary pb-2">{{message}}</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>通道編號</th>
                        <th>通道名称</th>
                        <th>通道類型</th>
                        <th>通道利率(千分点)</th>
                        <th>支付码有效时间</th>
                        <th>开启状态</th>
                        <th>实例上限</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each channels}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{#if channelProvider==1}}微信{{elseif channelProvider==2}}支付宝{{else}}银行卡{{/if}}</td>
                        <td>{{ratio}}‰</td>
                        <td>{{validTime}}分</td>
                        <td>{{#if enabled}}开启{{else}}关闭{{/if}}</td>
                        <td>{{instrumentsLimit}}</td>
                        <td>
                            <button type="button" class="btn btn-secondary" on-click="updateChannels">修改</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">{{errorTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>{{errorMsg}}</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="settingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">通道设置</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="settingName">通道名称</label>
                            <input type="text" id="channelName" style="width:100%" value="{{name}}" class="form-control" placeholder="设置值" />
                        </div>
                        <div class="form-group">
                            <label for="settingName">通道类型</label>
                            <select id="channelProvider">
                                <option value="1" {{#if channelProvider==1}} selected{{/if}}>微信</option>
                                <option value="2" {{#if channelProvider==2}} selected{{/if}}>支付宝</option>
                                <option value="3" {{#if channelProvider==3}} selected{{/if}}>银行卡</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="validTime">支付码有效时间(分)</label>
                            <input type="number" id="validTime" style="width:100%" value="{{validTime}}" class="form-control" placeholder="设置值" />
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="channelStatus"><input type="checkbox" id="channelStatus" checked="{{enabled}}">开启</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="channelSize">实例上限</label>
                            <input type="number" id="channelSize" style="width:100%" value="{{instrumentsLimit}}" class="form-control" placeholder="设置值" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" on-click="doOperation">确定</button>
                </div>
            </div>
        </div>
    </div>
</script>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(initChannelSettingsPage);
        $(document).ready(initChannelProviderSettingsPage);
    </script>
}