@using Core;

@{
    ViewData["Title"] = "下级用户列表";
}
<partial name="_ConsoleHeader" />
<div class="content">
    <div id="target">
    </div>
    <script id="ractiveTemplate" type="text/ractive">
        <div class="search-row">
			<label>类型：</label>
            <select id="isAgent" name="isAgent" value='{{isAgent}}'>
                <option value="true">代理</option>
                <option value="false">会员</option>
            </select>
            <input type="button" name="loadChildData" id="loadChildData" value="查找" on-click="loadChildData" />
			<input type="button" name="addBtn" id="addBtn" value="添加下级" on-click="addChildUser" />
        </div>
        <div style="color:blue;padding:0 0 10px 0;">{{message}}</div>
        <table class="listTable">
            <thead>
                <th>ID</th>
                <th>账号</th>
                <th>余额</th>
                <th>创建时间</th>
                <th>最后登录</th>
                <th>操作</th>
            </thead>
                <tbody>
                    {{#each childs}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{accountName}}</td>
                        <td>{{balance.toLocaleString('en-US')}}</td>
                        <td>{{formatTimestamp(createTimestamp)}}</td>
                        <td>{{formatTimestamp(lastLoginTimestamp)}}</td>
                        <td>
                            @if (this.Context.User.HasRole("UserMgmt"))
                            {
                                <a href="javascript:void(0);" on-click="addChildUser"> 新增下级用户</a>
                            }
                            @if (this.Context.User.HasRole("UserMgmt"))
                            {
                                <a href="javascript:void(0);" on-click="childUserList"> 查看下级用户</a>
                            }
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
        </table>
		<div class="pager">
			<span>共 {{totalRecords}} 条</span>
            {{#each pages as p}}
				{{#if p == currentPage || p == -1}}
					<span>{{#if p == -1}}...{{else}}{{p+1}}{{/if}}</span>
				{{else}}
					<a href="javascript:void(0);" on-click="doPage">{{p+1}}</a>
				{{/if}}
            {{/each}}
        </div>
    </script>
</div>
@section Scripts{
<script type="text/javascript">$(document).ready(initChildUserList);</script>
}