@{
    ViewData["Title"] = "商户报表";
}
<partial name="_ConsoleHeader" />
<div class="content" id="target"></div>

<script id="ractiveTemplate" type="text/reactive">
    <div class="search-row">
        <label>商户账号：</label><input type="text" name="accountName" id="accountName" value="{{accountName}}" />
        <label>查看时间：</label>
        <input type="text" name="startDate" id="startDate" value="{{startDate}}" />
        <input type="text" name="startTime" id="startTime" value="{{startTime}}" />
        <label>至　</label>
        <input type="text" name="endDate" id="endDate" value="{{endDate}}" />
        <input type="text" name="endTime" id="endTime" value="{{endTime}}" />
        <input type="submit" name="searchBtn" id="searchBtn" value="查找" on-click="doSearch" />
    </div>
	<div style="color:blue;padding:0 0 10px 0;">{{message}}</div>
	<table class="listTable">
		<thead>
			<th>账号名称</th>
			<th>微信收款</th>
			<th>支付宝收款</th>
			<th>网银收款</th>
            <th>支付宝红包收款</th>
            <th>云闪付收款</th>
			<th>收款流水</th>
            <th>收款利润</th>
		</thead>
		<tbody>
			{{#each records}}
            <tr>
                <td>{{accountName}}</td>
                <td>{{wechatAmount / 100}}</td>
                <td>{{alipayAmount / 100}}</td>
                <td>{{unionpayAmount / 100}}</td>
                <td>{{aliRedEnvelopeAmount / 100}}</td>
                <td>{{uBankAmount / 100}}</td>
                <td>{{totalAmount / 100}}</td>
                <td>{{totalCommission / 10000}}</td>
            </tr>
			{{/each}}
			{{#if total}}
            <tr class="total">
                <td>合计</td>
                <td>{{total.wechatAmount / 100}}</td>
                <td>{{total.alipayAmount / 100}}</td>
                <td>{{total.unionpayAmount / 100}}</td>
                <td>{{total.aliRedEnvelopeAmount / 100}}</td>
                <td>{{total.uBankAmount / 100}}</td>
                <td>{{total.totalAmount / 100}}</td>
                <td>{{total.totalCommission / 10000}}</td>
            </tr>
			{{/if}}
		<tbody>
	</table>
	<div class="pager">
        {{#each pages as p}}
			{{#if p == currentPage || p == -1}}
				<span>{{#if p == -1}}...{{else}}{{p}}{{/if}}</span>
			{{else}}
				<a href="javascript:void(0);" on-click="doPage">{{p}}</a>
			{{/if}}
        {{/each}}
    </div>
</script>

@section Scripts{
<script type="text/javascript">
	$(document).ready(initMerchantReport);
</script>
}