@{
    ViewData["Title"] = "充值记录";
}

<div class="content">
    <div id="target"></div>

    <script id="ractiveTemplate" type="text/reactive">
        <div class="search-row">
            <label>创建时间：</label>
            <input type="text" name="startDate" id="startDate" value="{{startDate}}" />
            <input type="text" name="startTime" id="startTime" value="{{startTime}}" />
            <label>至　</label>
            <input type="text" name="endDate" id="endDate" value="{{endDate}}" />
            <input type="text" name="endTime" id="endTime" value="{{endTime}}" />
            <input type="submit" name="searchBtn" id="searchBtn" value="查找" on-click="doSearch" />
        </div>
        <div style="color:blue;padding:0 0 10px 0;">{{message}}</div>
        <table class="listTable">
            <thead>
                <th>订单号</th>
                <th>金额</th>
                <th>状态</th>
                <th>建立时间</th>
                <th>支付时间</th>
            </thead>
            <tbody>
                {{#each records}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{amount / 100}}</td>
                    <td>{{#if settleTime == 0}}未支付{{else}}已支付{{/if}}</td>
                    <td>{{formatTimestamp(createTime)}}</td>
                    <td>{{formatTimestamp(settleTime)}}</td>
                </tr>
                {{/each}}
            <tbody>
        </table>
    </script>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(initRechargeList);
    </script>
}