@{
    ViewData["Title"] = "用户编辑";
}
<style>
    .colTable td.title {
        width: auto;
    }
</style>
<div class="content">
    <div id="target">
    </div>
    <script id="ractiveTemplate" type="text/reactive">
        <div style="color:blue;padding:0 0 10px 0;">{{message}}</div>
        <table class="listTable colTable">
            <tr>
                <td class="title">请输入密码：</td>
                <td><input type="password" name="password" value="{{user.password}}" /></td>
            </tr>
            <tr>
                <td class="title">再次输入密码：</td>
                <td><input type="password" name="password" value="{{passwordCheck}}" /></td>
            </tr>
        </table>
        <div style="text-align:center; padding-top:15px;">
            <input type="button" value="保存" on-click="saveUser">
        </div>
    </script>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(initSelfMgmtSetPassword);
        function closeDialog() {
            parent.jDialog.listDialog[0].close();
        }
    </script>
}