@{
    ViewData["Title"] = "网站设置";
}
<partial name="_ConsoleHeader" />

<div id="target"></div>
<script id="template" type="text/ractive">
    <div class="card mt-2">
        <div class="card-header">
            <h5>网站设置</h5>
        </div>
        <div class="card-body">
            <div class="text-primary pb-2">{{message}}</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>设置键</th>
                        <th>设置名称</th>
                        <th>设置值</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each settings}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{displayName}}</td>
                        <td>{{value}}</td>
                        <td>
                            <button type="button" class="btn btn-secondary" on-click="updateSetting">修改</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="container text-left m-0">
                <button type="button" class="btn btn-secondary" on-click="addSetting">添加</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">{{errorTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>{{errorMsg}}</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="settingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingModalLabel">{{operation}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="settingName">设置键</label>
                            <input type="text" id="settingName" style="width:100%" value="{{name}}" class="form-control" placeholder="设置键" />
                        </div>
                        <div class="form-group">
                            <label for="displayName">设置名称</label>
                            <input type="text" id="displayName" style="width:100%" value="{{displayName}}" class="form-control" placeholder="设置名称" />
                        </div>
                        <div class="form-group">
                            <label for="settingValue">设置值</label>
                            <input type="text" id="settingValue" style="width:100%" value="{{value}}" class="form-control" placeholder="设置值" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" on-click="doOperation">确定</button>
                </div>
            </div>
        </div>
    </div>
</script>
@section Scripts{
    <script type="text/javascript">$(document).ready(initSiteSettingsPage);</script>
}