@{
    ViewData["Title"] = "支付报表";
}
<partial name="_ConsoleHeader" />
<div class="content" id="target"></div>

<script id="ractiveTemplate" type="text/reactive">
    <div class="search-row">
        <label>用户账号：</label><input type="text" name="accountName" id="accountName" value="{{accountName}}" />
        <label>创建时间：</label>
        <input type="text" name="startDate" id="startDate" value="{{startDate}}" />
        <input type="text" name="startTime" id="startTime" value="{{startTime}}" />
        <label>至　</label>
        <input type="text" name="endDate" id="endDate" value="{{endDate}}" />
        <input type="text" name="endTime" id="endTime" value="{{endTime}}" />
        <input type="submit" name="searchBtn" id="searchBtn" value="查找" on-click="doSearch" />
    </div>
	<div style="color:blue;padding:0 0 10px 0;">{{message}}</div>
	<table class="listTable">
		<thead>
			<th>账号名称</th>
            <th>抢单</th>
            <th>补单</th>
            <th>充值</th>
            <th>手动修改</th>
            <th>运输中返回</th>
            <th>奖励</th>
            <th>利润</th>
            <th>总计</th>
		</thead>
		<tbody>
			{{#each records}}
            <tr>
                <td>{{accountName}}</td>
                <td>{{redeemAmount / 100}}</td>
                <td>{{manualRedeemAmount / 100}}</td>
                <td>{{refillAmount / 100}}</td>
                <td>{{modifyAmount / 100}}</td>
                <td>{{refundAmount / 100}}</td>
                <td>{{rewardsAmount / 100}}</td>
                <td>{{commissionAmount / 100}}</td>
                <td>{{(redeemAmount + manualRedeemAmount + refillAmount + modifyAmount + refundAmount + rewardsAmount + commissionAmount) / 100}}</td>
            </tr>
			{{/each}}
			{{#if total}}
            <tr class="total">
                <td>合计</td>
                <td>{{total.redeemAmount / 100}}</td>
                <td>{{total.manualRedeemAmount / 100}}</td>
                <td>{{total.refillAmount / 100}}</td>
                <td>{{total.modifyAmount / 100}}</td>
                <td>{{total.refundAmount / 100}}</td>
                <td>{{total.rewardsAmount / 100}}</td>
                <td>{{total.commissionAmount / 100}}</td>
                <td>{{(total.redeemAmount + total.manualRedeemAmount + total.refillAmount + total.modifyAmount + total.refundAmount + total.rewardsAmount + total.commissionAmount) / 100}}</td>
            </tr>
			{{/if}}
		<tbody>
	</table>
	<div class="pager">
        {{#each pages as p}}
			{{#if p == currentPage || p == -1}}
				<span>{{#if p == -1}}...{{else}}{{p}}{{/if}}</span>
			{{else}}
				<a href="javascript:void(0);" on-click="doPage">{{p}}</a>
			{{/if}}
        {{/each}}
    </div>
</script>

@section Scripts{
<script type="text/javascript">
	$(document).ready(initTransactionLog);
</script>
}