@{
    ViewData["Title"] = "用户编辑";
    int AgentIdType = (int)UserRoleType.Agent;
}
<style>
    .colTable td.title {
        width:auto;
    }
</style>
<div class="content">
	<div id="target">
    </div>
    <script id="ractiveTemplate" type="text/reactive">
		<div style="color:blue;padding:0 0 10px 0;">{{message}}</div>
        <table class="listTable colTable">
            <tr>
                <td class="title">账号：</td>
                <td>{{user.accountName}}</td>
            </tr>
            <tr>
                <td class="title">上级账号：</td>
                <td>{{user.upperAccountName}}</td>
            </tr>
            <tr>
                <td class="title">昵称：</td>
                <td><input type="text" name="nickName" value="{{user.nickName}}" /></td>
            </tr>
            <tr>
                <td class="title">密码：</td>
                <td><input type="password" name="password" placeHolder="留空即不修改" value="{{user.password}}" /></td>
            </tr>
            <tr>
                <td class="title">状态：</td>
                <td>
                    <select name="status" value="{{user.status}}">
                        <option value="1">正常</option>
                        <option value="2">锁定</option>
                        <option value="3">禁用</option>
                        <option value="4">删除</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="title">角色：</td>
                <td>
                    <select name="role" value="{{user.role.id}}">
                        {{#each roles}}
                        {{#if id != @AgentIdType}}
                        <option value="{{id}}">{{memo}}</option>
                        {{/if}}
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="title">指定收款：</td>
                <td>
                    <select name="role" value="{{user.merchantId}}">
                        <option value="0">无指定</option>
                        {{#each merchants}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
        </table>
		<div style="text-align:center; padding-top:15px;">
			<input type="button" value="保存" on-click="saveUser">
		</div>
	</script>
</div>
@section Scripts{
<script type="text/javascript">$(document).ready(initUserEdit);</script>
}