@using Core;

@{
    ViewData["Title"] = "下发订单列表";
}
<partial name="_ConsoleHeader" />

<div class="content" id="target"></div>
<script id="ractiveTemplate" type="text/reactive">
    <div class="search-row">
        <label>订单号：</label><input type="text" name="orderId" id="orderId" value="{{orderId}}" />
        <label>商户ID：</label><input type="text" name="orderId" id="merchantOwner" value="{{merchantOwner}}" />
        <label>状态：</label><select id="Status" name="Status" value='{{status}}'>
            <option value="-1">全部</option>
            <option value="0">等待中</option>
            <option value="1">交易中</option>
            <option value="2">已完成</option>
            <option value="3">已取消</option>
            <option value="4">已拒绝</option>
        </select>
    </div>
    <div class="search-row">
        <label>创建时间：</label>
        <input type="text" name="startDate" id="startDate" />
        <input type="text" name="startTime" id="startTime" />
        <label>至　</label>
        <input type="text" name="endDate" id="endDate" />
        <input type="text" name="endTime" id="endTime" />
        <input type="button" name="searchBtn" id="searchBtn" value="查找" on-click="doSearch" />
    </div>
    <div style="color:blue;padding:0 0 10px 0;">{{message}}</div>
    <table class="listTable">
        <thead>
            <th>订单号</th>
            <th>商户名称</th>
            <th>金额</th>
            <th>状态</th>
            <th>操作员</th>
            <th>创建时间</th>
            <th>操作</th>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{amount}}</td>
                <td>{{#if status == 0}}等待中{{elseif status == 1}}交易中{{elseif status == 2}}已完成{{elseif status == 3}}已取消{{else}}已拒绝{{/if}}</td>
                <td>{{operatorName}}</td>
                <td>{{formatTimestamp(createTimestamp)}}</td>
                <td>
                    <a href="javascript:void(0);" on-click="editOrder">编辑</a>
                </td>
            </tr>
            {{/each}}
        <tbody>
    </table>
    <div class="pager">
        <span>共 {{totalRecords}} 条</span>
        {{#each pages as p}}
        {{#if p == currentPage || p == -1}}
        <span>{{#if p == -1}}...{{else}}{{p}}{{/if}}</span>
        {{else}}
        <a href="javascript:void(0);" on-click="doPage">{{p}}</a>
        {{/if}}
        {{/each}}
    </div>
    <div class="modal fade" id="editorderModal" tabindex="-1" role="dialog" aria-labelledby="editorderModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editorderModalLabel">下发订单修改</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <table class="listTable colTable">
                    <tr>
                        <td colspan="3">
                            <label>{{errorMessage}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">银行名称：</td>
                        <td>
                            {{editData.accountProvider}}
                        </td>
                    </tr>
                    <tr>
                        <td class="title">持卡人：</td>
                        <td>{{editData.accountHolder}}</td>
                    </tr>
                    <tr>
                        <td class="title">银行卡号：</td>
                        <td>{{editData.accountName}}</td>
                    </tr>
                    <tr>
                        <td class="title">下发金额：</td>
                        <td>{{editData.amount}}</td>
                    </tr>
                    <tr>
                        <td class="title">状态：</td>
                        <td>
                            {{#if editData.status == 0}}等待中{{elseif editData.status == 1}}交易中{{elseif editData.status == 2}}已完成{{elseif editData.status == 3}}已取消{{else}}已拒绝{{/if}}
                        </td>
                    </tr>
                    {{#if editData.status == 0 || editData.status == 1}}
                    <tr>
                        <td class="title">验证码：</td>
                        <td>
                            <input type="text" name="captcha" value="{{captcha}}" style="width:190px" autocomplete="off" />
                            <img src="/Home/CaptchaImage" id="inputCaptchaImg" on-click="refreshCaptcha" style="width:100px; vertical-align:middle; height:33px;" />
                        </td>
                    </tr>
                    {{/if}}
                </table>
                <div class="modal-footer">
                    {{#if editData.status == 0}}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" on-click="changeToPaying">同意下发</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" on-click="changeToRefuse">拒绝下发</button>
                    {{elseif editData.status == 1}}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" on-click="changeToSettled">完成下发</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" on-click="changeToCancel">取消下发</button>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</script>

@section Scripts{
<script type="text/javascript">
	$(document).ready(initWireoutOrderListPage);
</script>
}