body {
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "Microsoft YaHei" !important;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #403866;
}

.titlebar {
    width: 100%;
    min-width: 100%;
    margin: 0;
    display: flex;
    height: 20px;
}
.col-match {
    background-color: #02abee;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: white;
}
.col-match-wechat {
    height: 20px;
    background-color: #1daa39;
}
.col-match-wechatH5 {
    background-color: #1daa39;
}
.info {
    font-size: large;
}

.copy-filed {
    border: solid 2px #019fe8;
    padding: 3px 0;
}
.copy-filed-wechat {
    border: solid 2px #1daa39;
    padding: 3px 0;
}
.copy-filed-bank {
    padding: 3px 0;
}
.price-field {
    color: red;
}

.copy-tag {
    color: darkblue;
}

.qrcode {
    text-align: center;
    padding: 5px 0 25px 0;
}

.qrcode_border {
    border: 5px solid #ffffff;
    padding: 20px;
    max-width: 220px;
    margin: 0 auto;
    width: 100%;
    background-image: url(/images/pay/Qrcode_border_ali.jpg);
    background-size: 100% 100%;
}
.qrcode_border_wechat {
    border: 5px solid #ffffff;
    padding: 20px;
    max-width: 220px;
    margin: 0 auto;
    width: 100%;
    background-image: url(/images/pay/Qrcode_border_wx.jpg);
    background-size: 100% 100%;
}

.qrcode img {
    display: block;
    max-height: 180px;
    max-width: 180px;
    margin: 0 auto;
    width: 100%;
}
.line-height { /*info-notice*/
    line-height: 30px;
}

.info-notice, .content {
    font-size: large;
}

    .info-notice ol {
        margin: 0 0 0 50px;
    }

        .info-notice ol li {
            padding: 4px 0;
        }

@media (max-width: 420px) {
    .info-notice, .content {
        font-size: 18px;
    }

        .info-notice ol {
            margin: 0 0 0 30px;
        }
}

.notice-field {
    color: red;
    text-align: center;
}

.logoimg {
    padding: 10px 25px;
}

.container {
    letter-spacing: 2px;
}

#pserno {
    letter-spacing: initial;
}
.align-center { /*top_info*/
    text-align: center;
}
.top_info {
    line-height: 30px;
    padding: 15px 0;
}

.red {
    color: red;
}
.blue {
    color: blue;
}
.dodgerblue {
    color: dodgerblue;
}
.info-notice-title {
    color: red;
    padding-left: 4em;
}

.content {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 450px;
}

.ps-field {
    color: red;
    padding: 0 0 0 1em;
}

.timer {
    text-align: center;
    padding-bottom: 20px;
}

.timer span {
    background-image: url(/images/pay/Time_Green.jpg);
    background-image: url(../images/pay/Time_Green.jpg);
    background-size: 100% 100%;
    color: white;
    margin: 0px;
    padding: 3px 6px;
    font-size: 13px;
}
/*-----------------------*/
/*MENU*/
.menu_bgcolor {
    background-color: #f3f3f3;
}
.menu_bgcolor .header {
    background-color: #d8d8d8;
    padding: 15px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 22px;
}

.menu_bgcolor .header img {
    height: 1em;
    margin-top: -2px;
}
.menu_bgcolor .title {
    text-align: center;
    font-size: 14px;
    padding: 6px;
}

.menu_bgcolor #Loading {
    position: absolute;
    z-index: 10;
    background-color: white;
    height: calc(100% - 68px);
    width: 100%;
    text-align: center;
}

.menu_bgcolor #Loading img {
    width: 150px;
    height: 150px;
    margin-top: -20px;
}

.menu_bgcolor #Loading .Loadingtxt {
    margin-top: -20px;
}

.menuTable {
    background-color: white;
    border: 1px solid #BBB;
    text-align: center;
    width: 100%;
}

.menuTable td {
    width: 33.33vw;
    height: calc(33.33vw - 15px);
    font-size: 12px;
}

#menu {
    padding: 15px;
}
/*透明的CSS*/
.opacity {
    opacity: 0.3;
}
/*---------------------*/
.info-notice .notice-margin {
    margin-bottom: 10px;
    margin-left: 5%;
}
.header-bank {
    background-color: #d9d9d9;
    padding: 10px 25px;
}

.aliToBankBtn {
    padding: 5px 10px;
    font-size: 20px;
    border: 5px solid #02abee;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    background: #019fe8;
    color: white;
    text-decoration: none;
    outline: none;
    letter-spacing: 3px;
    transition: all 0.1s ease;
}
.aliToBankBtn:hover {
    color: white;
    border: 5px solid #0498d2;
    background: #0085c3;
}
/*--1080628 更改版面---------------*/
.TJ_body, .Ali_body ,.Wx_body{
    background-color: #e9e9e9;
    padding: 15px 5px;
    font-size: 13px;
    letter-spacing: 1px;
}
.TJ-header {
    border: 1px solid #9b9b9b;
    background-color: #CECECE;
    text-align: center;
    padding: 10px;
}
.TJ-header img {
    height: 20px;
    margin: -2px;
    padding-right: 15px;
}
.TJ-header span {
    font-size: 25px;
    letter-spacing: 5px;
}
.Ali-header, .Wx-header {
    background-color: white;
    border: 1px solid #9b9b9b;
    margin-bottom: 10px;
}
.Ali-header .logoimg img{
    width: 80px;
    height: auto;
}
.Ali-header .logoimg, .Wx-header .logoimg {
    padding: 10px 25px 5px 25px;
}
.Wx-header .logoimg img {
    width: 120px;
    height: auto;
}
.Ali-header .TJlogo, .Wx-header .TJlogo {
    color: white;
    padding: 0 25px;
}
.Ali-header .TJlogo img,.Wx-header .TJlogo img{
    height: 9.5px;
    width: auto;
}
.TJ-contents {
    background-image: url(/images/pay/TG-content-bg.jpg);
    background-size: 100%;
    margin: 10px 0;
    padding: 10px 0;
    color: white;
    font-size: 15px;
}
.TJ-contents > table{
    width: 100%;
}
.TJ-contents > table td {
    padding: 2px;
}
.TJ-details, .Ali-details, .Wx-details {
    margin-bottom: 10px;
}
.TJ-details > ul, .Ali-details > ul , .Wx-details > ul{
    width: 100%;
    border-collapse: collapse;
    list-style: none;
    margin: 0;
    font-size: 12px;
}
.TJ-details > ul li,.Ali-details > ul li ,.Wx-details > ul li{
    padding: 8px 15px;
    margin-bottom: -1px;
    border: 1px solid #9b9b9b;
    background-color: #fff;
    word-break: break-all;
}
.TJ-details red, .Ali-details red, .Wx-details red{
    color: red;
}
.Ali-details blue ,.Wx-details blue {
    color: blue;
}
.TJ-details .copytxt, .Ali-details .copytxt, .Wx-details .copytxt {
    margin-right: 70px;
}
.TJ-details .copybtn, .Ali-details .copybtn, .Wx-details .copybtn  {
    font-size: 13px;
    padding: 3px 5px;
    background-color: #DDD;
    border: 1px solid #999;
    float: right;
    margin-top: -22.5px;
    font-family: "Microsoft YaHei";
}
.TJ_back {
    width: 100%;
    background: rgb(11,96,251);
    border: 0;
    color: white;
    font-size: 15px;
    font-family: "Microsoft YaHei";
    padding: 5px;
}
.Ali-qrcode, .Wx-qrcode {
    text-align: center;
    padding: 10px;
    border: 1px solid #9b9b9b;
    background-color: #fff;
    word-break: break-all;
    margin-bottom: 10px;
}
.Ali-qrcode img ,.Wx-qrcode img{
    height: auto;
    max-width: 200px;
    width: 100%;
}
.Ali-qrcode .timer .Wx-qrcode .timer {
    padding:0;
}
.Ali-color {
    background: #019fe8;
}
.Wx-color {
    background: rgb(34,171,56);
}

#ImportantWarning {
    display: table;
    height: 100vh;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

#ImportantWarning .table-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 0px;
}

#ImportantWarning .Warning {
    background-color: #efefef;
    border: 2px solid black;
    padding: 30px 15px;
    color: red;
}

#ImportantWarning .Warning_title {
    background-color: white;
    border: 1px solid #999;
    text-align: center;
    margin-bottom: 5px;
}

#ImportantWarning .Warning_item {
    background-color: white;
    border: 1px solid #999;
    padding: 3px 10px;
    margin-bottom: -1px;
}

#ImportantWarning .Warning_input {
    text-align: right;
}

#ImportantWarning .Warning_input input {
    color: red;
    background-color: #cecece;
    border: 1px solid #999;
    margin-top: 15px;
    padding: 4px 10px;
}
@media screen and (max-width:400px) {
    #ImportantWarning {
        font-size: 13px;
    }
}