@{
    ViewData["Title"] = "奕智博";
}
<h1>測驗結束</h1>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">答案卷已提交</h1>
        <hr />
        <p class="lead">感謝您作答請稍後</p>
    </div>
</div>