@{
    ViewData["Title"] = "題目編輯";
}
<div class="content" id="target"></div>
<script id="ractiveTemplate" type="text/reactive">
    {{message}}
    <div id="questionList" style="padding-top:100px">
        <div align="right">
            <button class="btn btn-primary" on-click="additem">新增題目</button>
            <button class="btn btn-danger" on-click="selectqa">選擇題目</button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">題目類型</th>
                    <th scope="col">題目</th>
                    <th scope="col">備註</th>
                </tr>
            </thead>
            <tbody>
                {{#each data:i}}
                <tr on-click="correct">
                    <th scope="row">{{id}}</th>
                    <td>{{type == 1 ? '選擇題':'簡答題'}}</td>
                    <td width="60%">{{topic}}</td>
                    <td>{{note}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>

    <div id="questionEdit" style="padding-top:100px;display:none">
        <div class="alert alert-info" role="alert">
            <h3 class="display-3">類型:{{qaitem.type == 1 ? '選擇題':'簡答題'}}</h3>
            <p class="lead">題目:{{qaitem.topic}}</p>
            {{#if qaitem.type == 1}}
            <p>A:{{qaitem.a}}</p>
            <p>B:{{qaitem.b}}</p>
            <p>C:{{qaitem.c}}</p>
            <p>D:{{qaitem.d}}</p>
            {{/if}}
            <hr class="my-4">
            <p>備註:{{qaitem.note}}</p>
        </div>
        <form>
            <div class="form-group">
                <label for="exampleInputPassword1">題目類型</label>
                <select class="form-control" value="{{qaitem.type}}">
                    <option value="1">選擇題</option>
                    <option value="2">簡答題</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">題目</label>
                <textarea rows="8" style="width:100%">{{qaitem.topic}}</textarea>
            </div>
            {{#if qaitem.type == 1}}
            <div class="form-group">
                <label for="exampleInputPassword1">選項A</label>
                <input class="form-control" placeholder="A" value="{{qaitem.a}}">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">選項B</label>
                <input class="form-control" placeholder="B" value="{{qaitem.b}}">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">選項C</label>
                <input class="form-control" placeholder="C" value="{{qaitem.c}}">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">選項D</label>
                <input class="form-control" placeholder="D" value="{{qaitem.d}}">
            </div>
            {{/if}}
            <div class="form-group">
                <label for="exampleInputPassword1">答案</label>
                <textarea rows="5" style="width:100%">{{qaitem.answer}}</textarea>
            </div>
        </form>

        <div style="margin:20px 0px">
            <button class="btn btn-primary" on-click="back">返回</button>
            <button class="btn btn-success" id="editbtn" data-toggle="modal" data-target="#exampleModal" on-click="edit">編輯完成</button>
            <button class="btn btn-danger" id="deletebtn" data-toggle="modal" data-target="#exampleModal" on-click="deleteqa">刪除題目</button>
            <button class="btn btn-success" style="display:none" id="addbtn" on-click="addqa">新增</button>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">修改完成</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="display-3">{{qaitem.topic}}</h4>
                    <p>答案:{{qaitem.answer}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" on-click="reload">返回上一頁</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    var ractive = new Ractive({
        target: "#target",
        template: "#ractiveTemplate",
        data: {
            message: '',
            data: '',
            qaitem: '',
            count: '',
        },
        on: {
            correct: function (ctx) {
                var id = ctx.get("id");
                var index = ctx.get("i");
                var data = this.get("data");
                this.set('count', id - 1);
                this.set('qaitem', data[index]);
                $('#questionList').hide();
                $('#questionEdit').show();
                $('#addbtn').hide();
                $('#editbtn').show();
                $('#deletebtn').show();
            },
            back: function (ctx) {
                $('#questionList').show();
                $('#questionEdit').hide();
            },
            edit: function (ctx) {
                var count = this.get("count");
                count++;
                var json = this.get("qaitem");
                $.ajax({
                    url: '/api/Background/question?count=' + count,
                    type: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify(json),
                    context: this,
                    dataType: 'json'
                })
                .done(function (data) {

                })
                .fail(function (xhr, status) {

                });
            },
            reload: function (ctx) {
                location.reload();
            },
            additem: function (ctx) {
                this.set('qaitem', '');
                $('#questionList').hide();
                $('#questionEdit').show();
                $('#editbtn').hide();
                $('#deletebtn').hide();
                $('#addbtn').show();
            },
            addqa: function (ctx) {
                var json = this.get("qaitem");
                if (json.type == '' || json.type == null) {
                    alert("請選擇題目類型");
                } else if (json.topic == '' || json.topic == null) {
                    alert("請輸入題目");
                } else if (json.type == 1 && (json.a == '' || json.b == '' || json.c == '' || json.d == '' )) {
                    alert("選項輸入不完整");
                }else if (json.answer == '' || json.answer == null) {
                    alert("請輸入答案");
                }else {
                    $.ajax({
                        url: '/api/Background/addqa',
                        type: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        data: JSON.stringify(json),
                        context: this,
                        dataType: 'json'
                    })
                    .done(function (data) {

                    })
                    .fail(function (xhr, status) {

                    });
                    alert("新增成功");
                    location.reload();
                }
            },
            deleteqa: function (ctx) {
                var count = this.get("count");
                count++;
                $.ajax({
                    url: '/api/Background/deleteqa?count=' + count,
                    type: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify(),
                    context: this,
                    dataType: 'json'
                })
                .done(function (data) {

                })
                .fail(function (xhr, status) {

                });
                alert("刪除成功");
                location.reload();
            }
        },
        oncomplete: function () {
            this._loadData();
        },
        _loadData: function () {
            this.set('message', '載入中請稍等');
            $.ajax({
                url: '/api/InterviewTest',
                type: 'GET',
                context: this,
                dataType: 'json'
            }).done(function (data) {
                if (data == '') {
                    this.set('message', '資料出錯' + data.error);
                } else {
                    this.set('data', data);
                    this.set('message', '');
                }
            }).fail(function (xhr, status) {
                this.set('message', '加载有誤:' + status);
            });
        }
    });
</script>
